html{
  background: black;
  color: white;

  
}
/*home ⭐ here*/

.home{
 font-size: 20px;
 padding: 10px;
 
}
  
 /*goupA*/
 
  section{
    padding: 10px;
   text-align: center;
   font-size: 25px;
   background: white;
 }
 
 
 table{
  width: 50px;
  border-collapse: collapse;
  margin: auto;
 
}



table, th, td{
  border: solid;
  color: black;
  background: white;
  font-size: 15px;
  
}
 table, th{
   background: burlywood;
   
 }
 
 section h1{ 
   color: black;
 }
  section h2{
    color: black;
    font-size:17px;
  }
 
 
 
 
 
 
 
 
 
 
 
 
 

header{
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  margin: 20px;
  
  
}
  
.logo{
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  font-weight: 90;
  text-decoration: none;
  padding: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}
.navbar{
  display: flex;
  color: black;
  
}
.navbar  a{
  text-decoration: none;
  margin: auto;
  font-weight: 500;

}
header .navbar a:hover{
  background: seagreen;
  color: green;
}
